<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Videogame List</title>
</head>
<body>
    <button onclick="location.href='/add/'">Go to add Videogames</button>
    <h1>List</h1>
    <ul>
        {% for game in games %}
            <li>
                {{ game.id_game }}. {{ game.title }} 
                <br> relase date: {{ game.relase_date }}
                <br> is it bought?: {{ game.is_it_bought }}
                <br> platform: {{ game.platform }}
                <br> story mode: {{ game.story_mode }}
                <br> any percent: {{ game.any_percent }}
                <br> start_date: {{ game.start_date }}
                <br> end_date: {{ game.end_date }}
                {% if game.picture %}
                    <br> <img src="{{ game.picture.url }}" alt="{{ game.title }}" style="max-width: 200px;">
                {% else %}
                    <br> No image available
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>